@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: "#f9f9fa";
	--text-color: "#111111";
}

body {
	color: #111;
	background: #f9f9fa;
}

@layer components {
	.pagination-item {
		@apply flex items-center hover:opacity-50 cursor-pointer justify-center text-xs rounded-sm w-9 h-9 text-[#111] border-tertiary border-[1px] bg-white overflow-hidden;
	}

	.pagination-item-active {
		@apply bg-[#444BFF] text-white font-bold border-0 border-transparent;
	}
}
